extends layout

block styles
    link(rel="stylesheet", href="/css/room.css")

block lobby-panel
    div.lobby-wrapper.panel.open#lobbyPanel
        h2.lobby-title.text-center.flicker1 Sala 
            span #{room.id}
        div.room-settings
            p Modo #{room.mode}
            p Tiempo #{room.duration/60}m

        div.nav-list
            button.btn.btn-primary.w-100.leave-btn#leaveRoom(type="button")
                i.bi.bi-door-closed
                span Salir
            button.btn.btn-primary.w-100#ready(type="button")
                i.bi.bi-check2-square
                span Listo
        
        div.players-list
            h3.text-center Jugadores
            button.btn.btn-primary.w-100.btn-switch#switchTeam(type="button")
                i.bi.bi-arrow-left-right
                span Cambiar a equipo 
            div#playersContainer
                p.text-center Esperando jugadores...

block main
    //- Mensaje de rotación (solo visible en portrait mode)
    div.rotate-message
        i.bi.bi-phone-landscape.flicker2
        h2.flicker1 Gira tu dispositivo
        p Para una mejor experiencia de juego.

    //- Botones hamburguesa (solo visibles en móvil/tablet landscape)
    button.hamburger-btn.left#lobbyToggle(aria-label="Toggle Lobby")
        i.bi.bi-card-list
    button.hamburger-btn.right#userToggle(aria-label="Toggle User Panel")
        i.bi.bi-dpad
    button.hamburger-btn.bottom-right#fullscreenToggle(aria-label="Toggle Fullscreen")
        i.bi.bi-fullscreen

    div.overlay#overlay

    
    div.main-wrapper.panel
        div#joystickZone.joystick-zone
        div#scoreboard
            span#score 0 - 0
            h1.main-title.flicker Snake Soccer
            span#timer 0:00
            span#ping 0ms
        div.canvas-wrapper
            canvas#gameCanvas
            div#countdownOverlay.countdown-overlay
            div#gameOverlay.game-over-overlay(style="display:none")
                div.game-over-content
                    h2.game-over-title#gameOverTitle ¡FIN!
                    p.game-over-score#gameOverScore 0 - 0
                    div#gameOverStats.game-over-stats
                    div.game-over-actions
                        button.btn.leave-btn#gameOverLeave
                            i.bi.bi-door-open
                            span Salir
                        //button.btn.btn-primary#gameOverRestart
                            i.bi.bi-arrow-repeat
                            span Reiniciar

block user-panel
    div.user-wrapper.panel#userPanel
        h3.text-center.flicker2 Controles
        div.game-controls
            div.control-set#wasdControls
                span.key.key-w#keyW W
                div
                    span.key.key-a#keyA A
                    span.key.key-s#keyS S
                    span.key.key-d#keyD D
            div.control-set#arrowControls
                i.bi.bi-caret-up-square#keyUp
                div
                    i.bi.bi-caret-left-square#keyLeft 
                    i.bi.bi-caret-down-square#keyDown 
                    i.bi.bi-caret-right-square#keyRight 
                

block scripts
    script(src="/socket.io/socket.io.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/nipplejs/0.10.1/nipplejs.min.js")
    script.
        window.currentUser = {
            username: '#{user.username}',
            id: '#{user.id}'
        };
    script(src="/js/soundManager.js")
    script(src="/js/gameRenderer.js")
    script(src="/js/roomUI.js")
